ALL_Spec_Only_V7_Aper6_CCM89.csv
Fields/
Fields-all_dr3/
Fields-DR3/
stilts.jar
Elismar.zip
SpecZ_Catalogue_20220701.csv
hydra_specz.csv
Abell1644_Fields.csv
to_play/
CreateSpecCatalogue/
.ipynb_checkpoints/
Trash/
tables_photometric/
tables_speczs/
Unused tables/
star-galaxy-tables/
